<div class="position-relative p-2 ms-2">
  <h2>Citas Confirmadas</h2>
  <!-- DATA GRID -->

  <div class="position-relative p-1 ms-2">
    <div class="row">
      <div class="col-md-12">
        <div>
          <table
            class="table table-sm table-responsive table-bordered table-striped table-hover"
            style="overflow: auto; height: 310px"
          >
            <thead>
              <tr
                style="
                  position: sticky;
                  top: 0;
                  background: #fff;
                  text-align: center;
                "
              >
                <th style="width: 1%" sortable="petName">Cliente</th>
                <th style="width: 1%" sortable="petName">Mascota</th>
                <th style="width: 1%" sortable="serviceTypeDescription">
                  Servicio
                </th>
                <th style="width: 1%" sortable="stateDescription">Estado</th>
                <th style="width: 1%" sortable="dateServices">Fecha y hora</th>
                <th style="width: 1%" sortable="value">Valor</th>
                <th style="width: 1%" sortable="edit">Atender</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredData" style="width: 180px">
                <td style="text-align: center">{{ item.clientName }}</td>
                <td style="text-align: center">{{ item.petName }}</td>
                <td style="text-align: center">
                  {{ item.serviceTypeDescription }}
                </td>
                <td style="text-align: center">{{ item.stateDescription }}</td>
                <td style="text-align: center">
                  {{ item.dateService | date : "yyyy-MM-dd" }}
                  {{ item.hourService }}
                </td>
                <td style="text-align: center">${{ item.value }}</td>
                <td
                  width="180px"
                  matTooltip="Atender"
                  style="text-align: center"
                >
                  <button
                    type="button"
                    style="border: none; background: transparent"
                    (click)="changeState(item)"
                  >
                    <img src="assets/confirm-24.png " />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div
            class="form-inline pull-right margin-bottom-basic"
            *ngIf="paginatedData.length > 0"
          >
            <div class="form-group col-md-12 p-1">
              <div class="col-md-12">
                <label for="totalItems"
                  ><b>Total registros: {{ dataSource.length }}</b></label
                >
              </div>
            </div>

            <div class="form-group items-per-page p-2">
              <label for="itemsOnPageSelect">Items por página:</label>
              <select
                id="itemsOnPageSelect"
                class="form-control input-sm"
                [value]="itemsPerPage"
                [(ngModel)]="itemsPerPage"
                (ngModelChange)="onValueChange($event)"
              >
                <option>5</option>
                <option>10</option>
                <option>25</option>
              </select>
            </div>
            <nav>
              <ul class="pagination justify-content-center">
                <li class="page-item" [class.disabled]="currentPage === 1">
                  <button
                    class="page-link"
                    (click)="changePage(currentPage - 1)"
                  >
                    Anterior
                  </button>
                </li>
                <li
                  class="page-item"
                  *ngFor="let page of totalPages"
                  [class.active]="currentPage === page"
                >
                  <button class="page-link" (click)="changePage(page)">
                    {{ page }}
                  </button>
                </li>
                <li
                  class="page-item"
                  [class.disabled]="currentPage === totalPages.length"
                >
                  <button
                    class="page-link"
                    (click)="changePage(currentPage + 1)"
                  >
                    Siguiente
                  </button>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
